<div class="jumbotron">
  <h1 class="title">女性求职网</h1>
  <p class="slogan">专属女性的求职网站，为每一个努力的女性，创造属于你们自己的世界。
  </p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上注册</a></p>
</div>

<div class="content-section-a">
 <div class="container">
   <div class="row">
     <div class="col-lg-5 col-sm-6">
       <hr class="section-heading-spacer">
       <div class="clearfix"></div>
       <h2 class="section-heading">只要路是对的，就不怕路远。</h2>
       <!-- <p class="lead"></p> -->
     </div>
     <div class="col-lg-5 col-lg-offset-2 col-sm-6">
       <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
     </div>
   </div>
 </div>
</div>

<div class="content-section-b">
 <div class="container">
   <div class="row">
     <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
       <hr class="section-heading-spacer">
       <div class="clearfix"></div>
       <h2 class="section-heading">如果我们想要更多的玫瑰花，就必须种植更多的玫瑰树。</h2>
       <p class="lead"></p>
     </div>
     <div class="col-lg-5 col-sm-pull-6  col-sm-6">
       <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
     </div>
   </div>
 </div>
</div>

 <div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">欲望以提升热忱，毅力以磨平高山。</h2>
         <p class="lead"></a></p>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

<!-- <section id="comaony">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-31.png" alt="search" class="img-thumbnail">
          <div class="caption">
            <h3>北京市</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-48.png" alt="bid" class="img-thumbnail">
          <div class="caption">
            <h3>info@18koffer.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-44-00.png" alt="heart" class="img-thumbnail">
          <div class="caption">
            <h3>010-12344321</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
